.sponsor {
	width: 100%;
	padding: 100px 0;
}
.sponsor img{
	/*height: -webkit-fill-available;*/
	max-width: 100%;
	max-height: 35vh;
	display: block;
	margin: 0 auto;
}
.sponsor h3{
	font-size: 2em;
	text-align: center;
}